<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-07-11-The Possibilities.md</key>
			<dict>
				<key>lastModification</key>
				<real>514081612.209885</real>
				<key>version</key>
				<dict>
					<key>f7577f3bfbca40e41f6949fd3e6c40493d8e7fbde5dacf4a4ec9f8afc78b01a8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-10-30s-is-the-new-20s.md</key>
			<dict>
				<key>lastModification</key>
				<real>514081612.20988899</real>
				<key>version</key>
				<dict>
					<key>f7577f3bfbca40e41f6949fd3e6c40493d8e7fbde5dacf4a4ec9f8afc78b01a8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-01-Four-Years-Without-Three-Months.md</key>
			<dict>
				<key>lastModification</key>
				<real>514081612.20988798</real>
				<key>version</key>
				<dict>
					<key>f7577f3bfbca40e41f6949fd3e6c40493d8e7fbde5dacf4a4ec9f8afc78b01a8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-16- How to be an inventor.md</key>
			<dict>
				<key>lastModification</key>
				<real>514083883.23233098</real>
				<key>version</key>
				<dict>
					<key>f7577f3bfbca40e41f6949fd3e6c40493d8e7fbde5dacf4a4ec9f8afc78b01a8</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>Template.md</key>
			<dict>
				<key>lastModification</key>
				<real>514081612.20988703</real>
				<key>version</key>
				<dict>
					<key>f7577f3bfbca40e41f6949fd3e6c40493d8e7fbde5dacf4a4ec9f8afc78b01a8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Template2.md</key>
			<dict>
				<key>lastModification</key>
				<real>514081612.20988703</real>
				<key>version</key>
				<dict>
					<key>f7577f3bfbca40e41f6949fd3e6c40493d8e7fbde5dacf4a4ec9f8afc78b01a8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Template3.md</key>
			<dict>
				<key>lastModification</key>
				<real>514081612.20988601</real>
				<key>version</key>
				<dict>
					<key>f7577f3bfbca40e41f6949fd3e6c40493d8e7fbde5dacf4a4ec9f8afc78b01a8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Untitled.md</key>
			<dict>
				<key>lastModification</key>
				<real>514084650.65763199</real>
				<key>version</key>
				<dict>
					<key>f7577f3bfbca40e41f6949fd3e6c40493d8e7fbde5dacf4a4ec9f8afc78b01a8</key>
					<integer>10</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-04-16- How to be an inventor.md</string>
		</array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>2016-07-11-The Possibilities.md</string>
		</array>
		<array>
			<string>Template3.md</string>
		</array>
		<array>
			<string>Template2.md</string>
		</array>
		<array>
			<string>Template.md</string>
		</array>
		<array>
			<string>2016-09-01-Four-Years-Without-Three-Months.md</string>
		</array>
		<array>
			<string>2016-08-10-30s-is-the-new-20s.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>f7577f3bfbca40e41f6949fd3e6c40493d8e7fbde5dacf4a4ec9f8afc78b01a8</key>
			<integer>10</integer>
		</dict>
	</dict>
</dict>
</plist>
